:root {
    --primary-color: #333; /* gray */
    --secondary-color: #fff; /* white */
    --accent1-color: #333; /* dark gray */
    --accent2-color: #000; /* dark gray */
    --heading-font: Arial, sans-serif; /* dark gray */
    --body-font: verdana, sans-serif; /* dark gray */
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

header, nav a{   
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 150px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
    gap: 15px;
}

.history h2 {
    grid-column: 1/4;
    text-align: center;
}

.history img {
    width: 200px;
    height: auto;
}

.adventure {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.adventure h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.adventure figure {
    width: 140px;
    text-align: center;
}

.adventure img {
    width: 150px;
    height: 100px;
}

.adventure figcaption {
    font-size: 0.8rem;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialmedia {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.socialmedia img {
    width: 40px;
    height: 40px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px; 
    text-align:center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 100px;
    padding: 16px;  
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
    margin: 16px 0;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;   
}

/* Contact Page */

.contact-title {
    padding: 10px; 
    text-align: center;
    margin: 12px 0;
    position: relative;
    background-color: var(--primary-color);
    color: var(--secondary-color); 
}

.contact-list {     
    list-style: none;
    text-align: center;
}

.contact-details {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.contact-map {
    width: 100%;
    height: 300px;
    border: none;
}

.form-details {    
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center; 
    margin-bottom: 15px;
    width: 100%;
}

.message-radios {    
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
    width: 100%;
    border: none;
    padding: 0;
}

.message-radios legend {
    font-size: 1rem;
    color: var(--accent1-color); 
    width: 100px;      
}

.radios { 
    display: flex;
    flex-direction: column;
    gap: 8px; 
    flex-grow: 1;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.radio-item input[type="radio"],
.radio-item label {
    cursor: pointer;
}

.message-area, textarea{
    margin-top: 10px;
    min-height: 90px;
    width: 100%;
}

.checkbox {
    display: flex; 
    align-items: center;
    gap: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.contact-form button{
    padding: 9px;
    width: 100%;
    font-weight: bold;
    border: none;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px
}

.employee {
    margin-top: 30px;
    text-align: center;
}

.employee-gallery {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.employee-gallery figure {
    text-align: center;
    margin: 0;
}

.employee-gallery img {
    width: 180px;
    height: auto;
}
